.splash-screen-wrapper {
    height: auto;
    background-color: #fff;
    padding: 40px 20em;
}

@media only screen and (max-width: 1000px) {
    .splash-screen-wrapper {
        padding: 20px;
    }
}